<header class="header my-30 my-md-35 ">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_header"
        aria-controls="navbar_header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand p-0" href="#">
        <img src="images/logo-all-dark.svg" width="220" height="40" alt="">
      </a>
      <div class="collapse navbar-collapse order-md-0  order-1" id="navbar_header">
        <ul class="navbar-nav ml-auto align-items-start">
          <li class="nav-item active pr-md-44 mt-15 mt-md-0">
            <a class="nav-link nav-link-color" href="index.html">首頁</a>
          </li>
          <li class="nav-item pr-md-44">
            <a class="nav-link nav-link-color" href="product.html">甜點</a>
          </li>
          <li class="nav-item pr-md-70">
            <a class="nav-link nav-link-color" href="#">登入</a>
          </li>
        </ul>
      </div>
      <a href="#">
        <i class="material-icons align-middle order-0 order-md-1">shopping_cart</i>
      </a>
    </div>
  </nav>
</header>