<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="stylesheets/all.css">
  <!-- fontawesome -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <%- include('head.ejs') %>

    <%- contents %>

      <%- include('footer.ejs') %>
        <script src="javascripts/vendor.js"></script>
        <script src="js/all.js"></script>
        <script src="js/index.js"></script>

</body>

</html>