//變數
@mixin sweet-border-top($color) {
  border-top: 1px solid $color;
}
@mixin sweet-border-bottom($color) {
  border-bottom: 1px solid $color;
}

@mixin sweet-border($color) {
  border: 1px solid $color;
}

@mixin sweet-font-size($size) {
  font-size: $size;
}

// 測試區
.default-pink {
  background-color: pink;
}
//color
.sweet-text-color {
  color: color("sweet-green-dark");
}

.sweet-text-green-light {
  color: color("sweet-green-light");
}
//font
.font-size-16 {
  @include sweet-font-size(16px);
}
.font-size-20 {
  @include sweet-font-size(20px);
}
.font-size-24 {
  @include sweet-font-size(24px);
}
.font-size-36 {
  @include sweet-font-size(36px);
}

.font-size-24-18 {
  font-size: 24px;
}

.font-family {
  font-family: "PingFang TC, Semibold";
}

.font-weight-600 {
  font-weight: 600;
}

//border
.border-top-1 {
  @include sweet-border-top(#eaf0ed);
}
.border-bottom-1 {
  @include sweet-border-bottom(#eaf0ed);
}

.border-1 {
  @include sweet-border(#eaf0ed);
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

//background-position
.bg-cover {
  background-size: cover;
  background-position: center center;
}
//img
.img-set {
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-cover-right {
  background-size: cover;
  background-position: right center;
}

//margin-top
.mt-md-top--80 {
  margin-top: -80px;
}

.mt-md-top--30 {
  margin-top: -30px;
}
.mt-md-top--20 {
  margin-top: -20px;
}
.mt-md-top--16 {
  margin-top: -16px;
}

@media (max-width: 767.98px) {
  .mt-md-top--80 {
    margin-top: 0;
  }
  .mt-md-top--30 {
    margin-top: 0px;
  }
  .mt-md-top--20 {
    margin-top: 0;
  }
  .mt-md-top--16 {
    margin-top: 0;
  }
}

.block-h56 {
  height: 56px;
}

.block-h193 {
  height: 193px;
}

.block-h590 {
  height: 590px;
}

//block-height
@media (min-width: 767.98px) {
  .block-md-h420 {
    height: 420px;
  }
  .block-md-h330 {
    height: 330px;
  }

  //no-gutters
  .row.no-pad {
    margin-right: 0;
    margin-left: 0;
  }
  .row.no-pad > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

//中間斷點
@media (min-width: 768px) and (max-width: 1023px) {
  .font-size-24-18 {
    font-size: 18px;
  }
}

// .row.no-pad {
//   margin-right: 0;
//   margin-left: 0;
// }
// .row.no-pad > [class*="col-"] {
//   padding-right: 0;
//   padding-left: 0;
// }

@media (max-width: 767.98px) {
  //color
  .sm-sweet-green-dark {
    background: theme-color("sweet-green-dark");
  }
  .sm-sweet-green-light {
    background: theme-color("sweet-green-light");
  }
  .sm-sweet-yellow-light {
    background: theme-color("sweet-yellow-light");
  }
  .sm-sweet-green-middle {
    background: theme-color("sweet-green-middle");
  }

  //weight
  .sm-font-weight-600 {
    font-weight: 600;
  }
}
