.login {
  .sweet-input-user {
    display: block;
    width: 80%;
    height: 56px;
    padding: 18px 15px 18px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #eaf0ed;
    background-clip: padding-box;
    border-radius: 0;
    border: none;
    outline: 0;
  }
  .sweet-form-check-input {
    width: 16px;
    height: 16px;
    margin-left: -20px;
  }

  //btn

  .btn-light:hover,
  .btn-light:not(.disabled).active {
    border-color: #8da291;
  }
  .btn-light:focus,
  .btn-light.focus {
    border-color: #8da291;
    box-shadow: 0 0 0 1px rgba(141, 162, 145, 0.5);
  }
  .btn-light:not(:disabled):not(.disabled):active:focus,
  .btn-light:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 1px rgba(141, 162, 145, 0.5);
  }

  //input
  .sweet-input-group-text {
    display: flex;
    align-items: center;
    // padding: $input-padding-y $input-padding-x;
    padding: 16px 20px;
    margin-bottom: 0; // Allow use of <label> elements by overriding our default
    @include font-size($input-font-size); // Match inputs
    font-weight: $font-weight-normal; //400
    line-height: $input-line-height; //16
    color: #3f5d45;
    text-align: center;
    white-space: nowrap;
    // background-color: $input-group-addon-bg;
    background-color: #eaf0ed;
    // border: $input-border-width solid $input-group-addon-border-color;

    // @include border-radius($input-border-radius);
    @include border-radius(0);

    // Nuke default margins from checkboxes and radios to vertically center within.
    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .login.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
