.test {
  .guild {
    height: 256px;
    position: relative;
    color: white;
    text-decoration: none;

    & + .guild {
      border-left: 1px solid white;
    }

    &:active,
    &:hover {
      color: rgba(63, 93, 69, 1);
      .guild-mask {
        background-color: rgba(255, 255, 128, 0.5);
      }
      .guild-img {
        filter: blur(0);
      }
    }
  }
  .guild-text {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 10px;
    writing-mode: vertical-lr;
  }
  .guild-mask {
    background-color: rgba(63, 93, 69, 0.8);
    transition: background-color 0.5s;
    z-index: -1;
  }
  .guild-img {
    height: 256px;
    filter: blur(5px);
    z-index: -2;
  }
  .position-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
