// 測試區
.start-default {
  background-color: pink;
  height: 420px;
}
.sweet-text-color {
  color: color("sweet-green-dark");
}

.sweet-text-green-light {
  color: color("sweet-green-light");
}

.font-size-24 {
  font-size: 24px;
}
.font-weight-600 {
  font-weight: 600;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-cover-right {
  background-size: cover;
  background-position: right center;
}
.mt-md-top {
  margin-top: -80px;
}
