// 測試區
.start-default {
  background-color: pink;
  height: 420px;
}
//color
.sweet-text-color {
  color: color("sweet-green-dark");
}

.sweet-text-green-light {
  color: color("sweet-green-light");
}
//font
.font-size-24 {
  font-size: 24px;
}
.font-size-36 {
  font-size: 36px;
}
.font-family {
  font-family: "PingFang TC, Semibold";
}

.font-weight-600 {
  font-weight: 600;
}

//background-position
.bg-cover {
  background-size: cover;
  background-position: center center;
}
//img
.img-set {
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-cover-right {
  background-size: cover;
  background-position: right center;
}

//margin-top
.mt-md-top--80 {
  margin-top: -80px;
}

.mt-md-top--30 {
  margin-top: -30px;
}
.mt-md-top--20 {
  margin-top: -20px;
}
.mt-md-top--16 {
  margin-top: -16px;
}

@media (max-width: 767.98px) {
  .mt-md-top--80 {
    margin-top: 0;
  }
  .mt-md-top--30 {
    margin-top: 0px;
  }
  .mt-md-top--20 {
    margin-top: 0;
  }
  .mt-md-top--16 {
    margin-top: 0;
  }
}

//block-height
@media (min-width: 767.98px) {
  .block-md-h420 {
    height: 420px;
  }
  .block-md-h330 {
    height: 330px;
  }
}
