.product {
  .main-image {
    background-repeat: no-repeat;
    height: 496px;
    background-image: url("../../images/social.png");
  }

  .product-img {
    background-repeat: no-repeat;
    min-width: 299px;
    height: 315px;
    // background-image: url('https://bit.ly/2QiWeQW');
  }

  .product-text {
    height: 56px;
    line-height: 56px;
  }

  .product-border-r-1 {
    border-right: 1px solid #eaf0ed;
  }

  .card-width {
    min-width: 300px;
  }

  .tab-sweet-title {
    width: 36px;
    position: absolute;
    top: 0px;
    left: 20px;
    line-height: 21px;
  }

  .tab-sweet-hart {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
  }

  .tab-sweet-hart:hover {
    background-image: url("../../images/tab-heart.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .tab-sweet-hart-fav {
    background-image: url("../../images/tab-heart.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (max-width: 767.98px) {
  .product {
    .main-image {
      background-repeat: no-repeat;
      height: 277px;
      background-image: url("../../images/social.png");
    }
  }
}

//中間斷點
@media (min-width: 768px) and (max-width: 1023px) {
  .product {
    .product-img {
      min-width: auto;
    }
    .card-width {
      min-width: 210px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
